body {
    font-family: Arial, sans-serif;
    background-color: #F1F6FA;
    margin: 0;
    background: url(/Assets/FUNDO-SISTEMA.png);
}

h1 {
    color: #0056b3;
    font-size: 36px;
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #43B1FF;
}

.container {
    margin-top: 100px;
    width: 1080px;
    height: 720px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border: 2px solid #43B1FF;
}

.dobra{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.imagenzinha {

    width: 402px;
    height: 296px;
}

.alours {
    display: flex;
    justify-content: end;
    align-items: end;
}

.ALOU {
    padding: 0 90px;
    width: 70px;
    height: 70px;
}
